coordinate_frames {
  root_frame = "local";

  # this is the pelvis link, its a legacy that its referred to as body
  body {
    relative_to = "local";
    history = 2000;
    max_frequency = 1000;
    pose_update_channel = "POSE_BODY"; 
    initial_transform{
      translation = [ 0, 0, 0 ];
      rpy = [0, 0, 0];
    }
  }

  # this is a floating body frame disconnected from the rest of the tree
  # [[[[[[ it only exists as a convenience ]]]]
  # it also not directly connected to "bdi". modulo update rates:
  # POSE_BDI = POSE_BODY * BODY_TO_BDI
  body_bdi {
    relative_to = "local";
    history = 2000;
    max_frequency = 100;
    pose_update_channel= "POSE_BDI";
    initial_transform{
      translation=[  0 , 0.0 , 0.0 ];
      rpy = [0.0 , 0.0 , 0.0 ];
    }
  }

  # this is the transform between BDI coordinate system and MIT's frame
  # frame_in_bdi_system = bdi * frame_in_mit_system
  local_bdi {
    relative_to = "local";
    history = 2000;
    max_frequency = 100;
    update_channel= "LOCAL_TO_LOCAL_BDI";
    initial_transform{
      translation=[  0 , 0.0 , 0.0 ];
      rpy = [0.0 , 0.0 , 0.0 ];
    }
  }

  # this is the body to imu transform - as provided by BDI in 
  # supplementary information in Sept 2013.
  # correct Jan 2013. didn't match signals previously
  imu {
    relative_to = "body";
    history = 2000;
    #update_channel = "BODY_TO_IMU";  
    initial_transform{
      translation = [ -0.0905, -0.000004, -0.012 ];                    #TODO
      rpy = [0,180,-45];
    }
  }  

  utorso {
    relative_to = "body";
    history = 2000;
    max_frequency = 10;
    update_channel = "BODY_TO_UTORSO";  
    initial_transform{
      translation = [ 0, 0, 0 ];
      quat = [ 1, 0, 0, 0 ];
    }
  }

  # Show what the ground height infered from the feet height is
  # This is used by maps
  ground {
    relative_to = "local";
    history = 2000;
    max_frequency = 5;
    pose_update_channel= "POSE_GROUND";
    initial_transform{
      translation=[  0 , 0.0 , 0.0 ];
      rpy = [0.0 , 0.0 , 0.0 ];
    }
  }
}

